# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Temp scripts
*.py
# Allow validator script and site builder
!.github/scripts/*.py
!docs/build.py

# Build artifacts
Performance_Optimizer/PAK_Build/
*.bat
/tools/icarus_watcher
/tools
.claude/
